
@{
    ViewBag.Title = "Product Information";
}
<div id="Productmain"></div>
@section Scripts{
    <link href="~/Scripts/react/Semantic-UI-CSS-master/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />
    <script src="~/Scripts/react/dist/Product.bundle.js"></script>

}

