
@{
    ViewBag.Title = "Customer Information";
}
<div id="Customermain"></div>
@section Scripts{
    <link href="~/Scripts/react/Semantic-UI-CSS-master/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />
    <script src="~/Scripts/react/dist/Customer.bundle.js"></script>

}

